{% extends 'layout.twig' %}

{% block pagetitle %}
    <title>Corentin Legriffon - Liste des utilisateurs</title>
{% endblock %}

{% block content %}
{% if session.username and session.userIsAdmin == 1 %}

<header class="header">
    	<div class="container">
    		<h1 class="text-center text-white text-uppercase mb-5">Gestion des utilisateurs</h1>
    	</div>
    </header>
<section class="page-section bg-primary" id="accountDetails">
    <div class="container">
        <div class="col-12 text-white mx-auto justify-content-center">
                {% if session.tmp %}
                    <div class="alert alert-danger text-center" role="alert">
		        	    {{ session.tmp|raw }}
		        	</div>
                {% endif %}
            <table >
                <tr class="columnTitle">
                        <td>Actif</td>
                        <td>Nom d'utilisateur</td>
                        <td>Adresse email</td>
                        <td>Date d'inscription</td>
                        <td>Administrateur</td>
                        <td></td>
                    </tr>
                {% for user in userlist %}
                    <tr>
                        {#{% if user.userName == 'Utilisateur supprimé' and user.userIsActive == 0 %}#}
                        {#{% endif %}#}

                        {% if user.userName != 'Utilisateur supprimé' %}
                        <td class="tableResults">
                            {% if user.userIsActive == 0 %}
                                <button class="btn btn-sm btn-outline-success btn-admin" type="button" data-bs-toggle="modal" data-bs-target="#activateUser-{{ user.userId }}">Oui</button>
                                <!-- activate user modal-->
                                <div class="modal fade" id="activateUser-{{ user.userId }}" tabindex="-1" role="dialog" aria-labelledby="activateUserLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <p>Activer le compte utilisateur ?</p>
                                                <form action="{{ session.routes.activateUser }}{{ user.userId }}" method="post">
                                                    <a href="#" class="btn btn-sm btn-outline-warning btn-admin text-white">Annuler</a>
                                                    <button type="submit" class="btn btn-sm btn-outline-success btn-admin text-white">Activer</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <a class="btn btn-sm btn-danger btn-admin">Non</a>
                            {% endif %}                           
                            {% if user.userIsActive == 1 %}
                                <a class="btn btn-sm btn-success btn-admin">Oui</a>
                                <button class="btn btn-sm btn-outline-danger btn-admin" type="button" data-bs-toggle="modal" data-bs-target="#deactivateUser-{{ user.userId }}">Non</button>
                                <!-- deactivate user modal-->
                                <div class="modal fade" id="deactivateUser-{{ user.userId }}" tabindex="-1" role="dialog" aria-labelledby="deactivateUserLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <p>Désactiver le compte utilisateur ?</p>
                                                <form action="{{ session.routes.deactivateUser }}{{ user.userId }}" method="post">
                                                    <a href="#" class="btn btn-sm btn-outline-warning btn-admin text-white">Annuler</a>
                                                    <button type="submit" class="btn btn-sm btn-outline-danger btn-admin text-white">Désactiver</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                        <td class="tableResults">{{ user.userName }}</td>
                        <td class="tableResults">{{ user.userMail }}</td>
                        <td class="tableResults">{{ user.userCreationDateFr }}</td> 
                        <td class="tableResults">
                            {% if user.userIsAdmin == 0 %}
                            <button class="btn btn-sm btn-outline-success btn-admin" type="button" data-bs-toggle="modal" data-bs-target="#setUserAdmin-{{ user.userId }}">Oui</button>
                            <!-- deactivate user modal-->
                            <div class="modal fade" id="setUserAdmin-{{ user.userId }}" tabindex="-1" role="dialog" aria-labelledby="setUserAdminLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <p>Accorder les droits administrateur à cet utilisateur ?</p>
                                            <form action="{{ session.routes.setUserAdmin }}{{ user.userId }}" method="post">
                                                <a href="#" class="btn btn-sm btn-outline-warning btn-admin text-white">Annuler</a>
                                                <button type="submit" class="btn btn-sm btn-outline-success btn-admin text-white">Accorder</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <a class="btn btn-sm btn-danger btn-admin">Non</a>
                            {% endif %}                           
                            {% if user.userIsAdmin == 1 %}
                                <a href="#" class="btn btn-sm btn-success btn-admin">Oui</a>
                                <button class="btn btn-sm btn-outline-danger btn-admin" type="button" data-bs-toggle="modal" data-bs-target="#unsetUserAdmin-{{ user.userId }}">Non</button>
                                <!-- unset admin modal-->
                                <div class="modal fade" id="unsetUserAdmin-{{ user.userId }}" tabindex="-1" role="dialog" aria-labelledby="unsetUserAdminLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <p>Supprimer les droits administrateur de cet utilisateur ?</p>
                                                <form action="{{ session.routes.unsetUserAdmin }}{{ user.userId }}" method="post">
                                                    <a href="#" class="btn btn-sm btn-outline-warning btn-admin text-white">Annuler</a>
                                                    <button type="submit" class="btn btn-sm btn-outline-danger btn-admin text-white">Supprimer les droits</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}</td>
                        <td>
                            <input type="hidden" name="userId" value="{{ user.userId }}">
                            <!-- Delete user button -->
                            <button class="btn btn-sm btn-danger btn-admin" type="button" data-bs-toggle="modal" data-bs-target="#deleteUser-{{ user.userId }}">Supprimer l'utilisateur</button>
                            <!-- Delete user modal-->
                            <div class="modal fade" id="deleteUser-{{ user.userId }}" tabindex="-1" role="dialog" aria-labelledby="deleteUserLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <p>Supprimer le compte utilisateur ?</p>
                                            <p class="smalltext">Cette action est irreversible</p>
                                            <button type="button" class="btn btn-outline-primary text-white" data-bs-dismiss="modal">Annuler</button>
                                            <a href="{{ session.routes.deleteUser}}{{ user.userId }}" type="submit" class="btn btn-outline-danger text-white">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </table>
        </div>
        <div class="row text-white text-center mt-3 mb-0">
          <div class="col-12">
            <nav>
              <ul class="pagination">
                {% for i in 1.. totalpages %}
                    {% if i == page %}
                        <li class="page-item active">
                            <p class="page-link">{{ i }}</p>
                        </li>
                    {% endif %}
                    {% if i != page %}
                        <li class="page-item">
                            <a href="{{ session.routes.userlist}}{{ i }}" class="page-link"> {{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
              </nav>
          </div>
        </div>
    </div>
</section>
{% endif %}

{% if session.username is not defined or  session.userIsAdmin == 0 %}
    <header class="header">
        <div class="container">
            <h1 class="text-center text-danger text-uppercase mb-5">ACCÈS INTERDIT</h1>
            <h2 class="text-center text-success "><a href="{{ session.routes.home }}">Retour à l'accueil</a></h2>
        </div>
    </header>
{% endif %}

{% endblock %}

